<% if flash[:notice] %>
  <div id="wrapper">
    <p class="flash notice">
      <%= flash[:notice] %>
    </p>
  </div>
<% elsif flash[:alert] %>
  <div id="wrapper">
    <p class="flash notice">
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>
